.worksPageGrid {
  grid-template-rows: max-content max-content;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  grid-template-areas:
    "pageHeader pageHeader"
    "worksPage worksPage";
}

.worksCard {
  display: flex;
}

.worksCard img {
  height: 120px;
  width: 250px;
  margin-right: 20px;
  border: 1px rgb(228, 228, 228) solid;
  border-radius: 4px;
}

.worksCardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.worksCardContainer h3 {
  margin: 0;
  font-weight: 500;
}

.worksCardContainer p {
  margin: 10px 0;
}

.worksCardButton {
  margin-top: auto !important;
  align-self: flex-end;
  background-color: var(--accent) !important;
  color: white !important;
}

.backdrop {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00000077;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  z-index: 99;
  width: clamp(70%, 850px, 90%);
  height: 85%;
  margin: auto;
  padding: 0 2rem;
  border-radius: 10px;
  border: black solid 1px;
  background-color: #ffffff;
  position: relative;
  overflow-y: scroll;
}

.modalCloseButton {
  position: absolute;
  right: 20px;
  top: 15px;
  border: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  transition: 0.2s;
}

.modalCloseButton:hover {
  background-color: rgb(223, 0, 0);
  color: white;
  transition: 0.2s;
}

.modalInnerContainer {
  margin: 40px 20px;
}

.modalContent {
  margin: 0 10px;
}

.modalTitle {
  margin-bottom: 10px !important;
}

.modalImg {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
}

.modalImg img {
  border: var(--lightBorder);
}

.modalImg p {
  margin-left: 10px;
}

.card {
  border: var(--lightBorder);
}

.card + .card {
  margin-top: 20px;
}

.header {
  margin-bottom: 20px;
}
