.userCardContainer {
  height: 60%;
  border-radius: 10px 0 0 10px;
  border: solid var(--outerBorder);
  border-width: 1px 0px 1px 1px;
  min-width: 150px;
  margin-right: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main);
  color: var(--textColor);
  box-shadow: -4px 4px 4px 0px rgb(0 0 0 / 25%);
  z-index: 2;
}

.contactInfoContainer {
  margin-bottom: 30px;
  display: grid;
  row-gap: 10px;
}

.contactInfo {
  display: flex;
  width: max-content;
  text-align: center;
  margin: 0 auto;
}

.contactInfo img {
  height: 20px;
  margin-right: 5px;
  filter: var(--textColorFilter);
}
