.aboutPageGrid {
  grid-template-rows: max-content 0.8fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-areas:
    "pageHeader pageHeader"
    "summary aboutInfo"
    "whatIDo whatIDo";
}

.sectionMotion {
  display: contents;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.summaryTextContainer {
  margin: auto 10px;
  font-size: 18px !important;
  line-height: 1.7 !important;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.infoTextContainer {
  list-style: none;
  padding: 0;
  margin: auto 10px;
  text-transform: uppercase;
  font-weight: 400;
}

.infoText {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.infoText:last-child {
  margin-bottom: 0;
}

.infoTextColored {
  color: var(--accent);
}

.whatIdoCard {
  width: 100%;
  position: relative;
}

.whatIdoBackground {
  position: absolute;
  z-index: 1;
  height: 100%;
}

.whatIdoHeding {
  margin-bottom: 30px;
}

.whatIdoSVG img {
  filter: var(--accentFilter);
  object-fit: contain !important;
}
