.aboutPageGrid {
  grid-template-rows: max-content 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 30px;
  grid-template-areas:
    "pageHeader pageHeader"
    "summary aboutInfo"
    "whatIDo whatIDo";
}

.summaryContainer {
  display: flex;
  flex-direction: column;
}

.summaryTextContainer {
  margin: auto 10px;
  font-size: 18px !important;
  line-height: 1.7 !important;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.infoTextContainer {
  list-style: none;
  padding: 0;
  margin: auto 10px;
  text-transform: uppercase;
  font-weight: 400;
}

.infoText {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.infoText:last-child {
  margin-bottom: 0;
}

.infoTextColored {
  color: var(--accent);
}
