.contactsPageGrid {
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  position: relative;
  grid-template-areas:
    "pageHeader pageHeader"
    "stayInTouch stayInTouch"
    "contactForm contactForm";
}

.contactsPageBG {
  position: absolute;
  z-index: 1;
}

.stayInTouchContainer {
  z-index: 2;
  margin: 0 10px;
}

.stayInTouchCardContainer {
  display: flex;
  justify-content: space-between;
}

.stayInTouchCard {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  border: 1px rgb(228, 228, 228) solid;
}

.stayInTouchCard img {
  margin-right: 5px;
}

.stayInTouchCard span {
  font-weight: 500;
  color: var(--accent);
  margin-left: 5px;
}

.contactFormGrid {
  display: grid;
  margin-top: 20px;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-areas:
    "name email"
    "message message"
    "none button";
}

.contactFormButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.contactFormButton {
  background-color: var(--accent) !important;
  color: white !important;
}

.disabled {
  border: 1px solid #a3a3a3 !important;
  background-color: #a3a3a3 !important;
}

.contactAlert {
  margin-top: 10px;
}
